.seccion_principal {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
    color: rgb(176, 176, 176);     
 }
 .nombre_seccion{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
 }
 .subtitulo_seccion{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
 }
 @media (max-width: 500px) {

    .seccion_principal {
      margin-left: 10px;
      margin-right: 10px;
      width: 90%;
      color: rgb(176, 176, 176);
            
   }
  }

  .container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;

  }
 body{
    background-color: rgb(35, 35, 35);
    font-size: medium;
    font-family: 'DM Mono', monospace;
    margin-left:.5rem;
    margin-right:.5rem;
 }

 header{
    font-size:large;
    color: rgb(255, 255, 255);
    padding: 10px;
    /* background-color: blueviolet; */
 }
 
 nav{
    font-size:medium;
    color: grey;
 }
.nav-link{
    padding: 10px;
}
a:link{
    color: pink;
    text-decoration: none;
}

a:visited{
    color: lightsalmon;
}
a:hover{
    color: darksalmon;
}
a:active{
    color: blue;
}

h1{
    padding: 0;
    margin:0;
    margin-top: 10px;
}
h2{
    font-size: large;
    color: white;

}
table, th, td {
    border: 1px solid;
    padding: 6px;
    font-size: medium;
  }
table{
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}
th{
    white-space: nowrap;
}
mark{
    padding: 5px;
    border-radius: 12%;
    border-width: 10px;
    width:100%;
}
li{
    padding: 2px;
}
#sujeto{
    background-color: greenyellow;
}

#li{
    background-color: orange;
}

#verbo{
    background-color: blueviolet;
}

#e{
    background-color: deeppink;
}

#objeto_directo{
    background-color: rgb(255, 255, 155);
}

#frase_destacada{
    text-align: center;
    padding: 10px;
    border: solid 1px;
}

input#palabra_toki{
    
    height: 30px;
    margin-bottom: 10px;
    width: 50%;
}
.barra_busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.palabra, .significado{
    margin-left: auto;
    margin-right:auto;
}